@model CheckEmailModel


<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-12">
        <p>
            Mailinizi Onayladığınız için teşekkürler..
        </p>
    </div>
</div>
